<h1>About Julie's Pet Store</h1>
<p>We were founded in 1962 when Spot the dog wandered into our clothing shop.  When we saw the look on Spot's face - we knew that we were in the wrong business.  We threw out all of our cotton inventory and started stocking kibble.  We've never looked back.  <br/><br/> I hope that you find your forever friend here today.</p>
